
<head>
	<link rel="stylesheet" href="./register.css">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
	body{  background: url(beach.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;

	}
	#button{
		text-align: center;
	}
		</style>



	</head>

<body>

	<!-- <h1>WELCOME TO REGISTER PAGE!!!!</h1> -->

	<form>

		<div class="container">

			<h2>Register</h2>
		<p>Please fill in this form to create an account.</p>
		<hr>
         <div class="form-group" ng-controller="signup" >
            <div class="row" >
            <!-- <div class="col-sm-3"><b>Email:</b></div> -->
         	<div class="col-sm-6"> <input  type="text"  placeholder="Enter Email" id="email" ng-model="email"    name="email" required></div>
         </div>

         <div class="row">
			<div class="col-sm-6"><input type="text" placeholder="Enter firstname" ng-model="firstname" id="first" name="first" required>

			</div></div>
			  <div class="row">
   
   
				<div class="col-sm-6"><input type="text" placeholder="Enter lastname" ng-model="lastname" id="last" name="last" required>
   
			</div></div>
			<div class="row">
   
   
				<div class="col-sm-6"><input type="text" placeholder="Enter role" ng-model="role" id="role" name="role" required>
   
			</div></div>
			<div class="row">
   
   
				<div class="col-sm-6"><input type="text" placeholder="Enter dob" id="dob" ng-model="dob" name="dob" required>
   
			</div></div>
   
            <div class="row">

         	<div class="col-sm-6"><input type="password" placeholder="Enter Password" id="psw" ng-model="password" name="psw" required>

         </div>
      </div>
         <div class="row">

            <div class="col-sm-6"> <input type="password" placeholder="Repeat Password" id="psw-repeat" name="psw-repeat">
         </div>
      </div>
         <hr>


         <!-- <p>By creating an account you agree to our <a href="#">Terms & Policy</a>.</p> -->

         <div class="form-group">
         	<b><button type="submit" id="button" ng-click="register()" class="Registerbtn">Register</button></b>
          </div>
          </div>
		</div>










	</form>


</body>
</html>
